<html>
	<head>
		<title>Bird World</title>
		<link type="text/css" rel = "stylesheet" href ="/css_stylesheets/layout.css">
	<body>
		<div id = "homepage_header"><h1>Welcome to Bird World!</h1>
		<nav><a href='/login'>log in</a><a href='/birders/new'>sign up</a></nav></div>
	</body>
</html>