<html>
	<head>
		<title>Bird World</title>
		<link rel = "stylesheet" type = "text/css" href = "/css_stylesheets/layout.css">
	</head>
	<body>
		<h2>Log In</h2>
		<form method = "POST" action = "/birders">
			<span class = "label"><label for = "name"> Please enter your username: </label></span>
			<span class = "info"><input type = "text" name = "name" placeholder = "Enter username"></span>
			<br>
			<br>
			<span class = "label"><label for = "password"> Please enter your password: </label></span>
			<span class = "info"><input type = "password" name = "password" placeholder = "Enter password"></span>
			<br>
			<br>
			<input type = "submit" value = "Log In">
		</form>
	</body>
</html>